main{
  font-size:2em;
  font-family:Droid Serif;
  background-image:url("../imgs/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
  text-align: center;
  font-weight:bolder;
  border:4px solid #262626;
  border-style:inset;
}
nav{
  text-align: center;
  table-layout:auto;
}
h1{
text-align:center;
font-size: 2em;
}
header p{
  /*Programmer Developer Title*/
  text-align:center;
  font-size: 1em;
}
ol{
  text-align:center;
  font-size:1em;
}
#fam1{
  display:inline-block;
  height:250px;
  width:180px;
  margin-bottom:10%;
  margin-left:10%;
}
#social{
  display:inline-block;
  font-size:25px;
  margin-left: 20%;
  margin-bottom:10%;
}
#social img{
  width: 40px;
  height: 40px;
}
#twitter-timeline{
  display:inline-block;
  margin-left:10%;
}
li{
  font-size: 0.6em;
  color:#FFFFFF;
  margin-left:10%;
  margin-right:10%;
}
a{
  color:#BFBFBF;
}
summary{
  text-align: center;
  color:#F9FCFF;
}
footer p{
  /* Email me*/
  font-size: 1em;
  color:#BFBFBF;
}
h2{
color:#FEFFFF;
text-align:center;
font-size: 1.5em;
}
h3{
color:#F9FCFF;
text-align:center;
font-size: 0.8em;
}
h4{
color:#F9FCFF;
text-align:center;
font-size: 0.5em;
}
details{
  border:4px solid #262626;
  border-style:inset;
  border-color:#262626;
}
details p{
  text-align:center;
  font-size: 0.8em;
}
#tech{
  margin-left:10%;
  display:inline-block;
}
#cult{
  margin-left:20%;
  margin-bottom:10%;
  display:inline-block;
}
section p{
  /*body paragraphs*/
  font-size: 0.7em;
  color:#FFFFFF;
  margin-left:10%;
  margin-right:10%;
}
#ruby {
  background-color:black;
  font-family: 'Inconsolata';
  color:white;
  margin-left:10%;
  margin-right:10%;
}
#comment{
  font-size: 0.7em;
  font-family: 'Inconsolata';
  color:gray;
  margin-left:10%;
  margin-right:10%;
}
ol{
  text-align:left;
}